<html>
  <head>
    <title>Food Item Price Predictor</title>
  </head>
  <body>
    <h1>Food Item Price Predictor</h1>
    <form action="{{ url_for('predict') }}" method="post">
      <label for="meal_inexpensive">Meal Inexpensive:</label>
      <input type="number" name="meal_inexpensive" id="meal_inexpensive" required>
      <br><br>
      <label for="meal_mid_range">Meal Mid-Range:</label>
      <input type="number" name="meal_mid_range" id="meal_mid_range" required>
      <br><br>
      <label for="mc_meal">McMeal:</label>
      <input type="number" name="mc_meal" id="mc_meal" required>
      <br><br>
      <label for="coke">Coke:</label>
      <input type="number" name="coke" id="coke" required>
      <br><br>
      <label for="water_small">Water Small:</label>
      <input type="number" name="water_small" id="water_small" required>
      <br><br>
      <label for="milk">Milk:</label>
      <input type="number" name="milk" id="milk" required>
      <br><br>
      <label for="bread">Bread:</label>
      <input type="number" name="bread" id="bread" required>
      <br><br>
      <label for="eggs">Eggs:</label>
      <input type="number" name="eggs" id="eggs" required>
      <br><br>
      <label for="cheese">Cheese:</label>
      <input type="number" name="cheese" id="cheese" required>
      <br><br>
      <label for="water_big">Water Big:</label>
      <input type="number" name="water_big" id="water_big" required>
      <br><br>
      <label for="chicken">Chicken:</label>
      <input type="number" name="chicken" id="chicken" required>
      <br><br>
      <label for="apples">Apples:</label>
      <input type="number" name="apples" id="apples" required>
      <br><br>
      <label for="oranges">Oranges:</label>
      <input type="number" name="oranges" id="oranges" required>
      <br><br>
      <label for="potato">Potato:</label>
      <input type="number" name="potato" id="potato" required>
      <br><br>
      <label for="lettuce">Lettuce:</label>
      <input type="number" name="lettuce" id="lettuce" required>
      <br><br>
      <label for="cappuccino">Cappuccino:</label>
      <input type="cappuccino" name="cappuccino" id="cappuccino" required>
      <br><br>
      <label for="banana">Banana:</label>
      <input type="number" name="banana" id="banana" required>
      <br><br>
      <label for="rice">Rice:</label>
      <input type="number" name="rice" id="rice" required>
      <br><br>
      <label for="tomato">Tomato:</label>
      <input type="number" name="tomato" id="tomato" required>
      <br><br>
      <label for="onion">Onion:</label>
      <input type="number" name="onion" id="onion" required>
      <br><br>
      <label for="beef">Beef:</label>
      <input type="number" name="beef" id="beef" required>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

